.hero{
  overflow: hidden;
  flex: 1 1 0%;
  position: relative;
  padding: 0px;
}

.hero__image{
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0vh;
  left: 0px;
  z-index: -1;
  overflow: hidden;
  background: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)) 0% 0% / cover, url(https://joinwrangle.com/media/merchant/hero-bg.png) center center no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.1))) 0% 0% / cover, url(https://joinwrangle.com/media/merchant/hero-bg.png) center center no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)) 0% 0% / cover, url(https://joinwrangle.com/media/merchant/hero-bg.png) center center no-repeat;
  background-size: cover;
}

.hero__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: rgb(255, 255, 255);
  text-align: left;
  line-height: 1;
  height: 30vh;
  min-height: 30vh;
} 

.hero__title{
  font-family: 'Poppins-SB', sans-serif;
  font-size: 72px;
  letter-spacing: -2.59px;
  line-height: 100px;
  margin-bottom: 50px;
}